stuff-persistence/src/test/resources/datasets/stuff/stuff.dtd

<?xml encoding="UTF-8"?>

        <!ELEMENT dataset (APP_USER+, STUFF+)>
        <!ELEMENT STUFF EMPTY>
        <!ATTLIST STUFF
                ID CDATA #IMPLIED
                NAME CDATA #IMPLIED
                COST CDATA #IMPLIED
                OWNER_ID CDATA #IMPLIED>

        <!ELEMENT APP_USER EMPTY>
        <!ATTLIST APP_USER
                ID CDATA #IMPLIED
                USER_NAME CDATA #IMPLIED
                EMAIL CDATA #IMPLIED
                PSWD CDATA #IMPLIED>