stuff-persistence/src/test/resources/datasets/password_recovery/password_recovery.dtd

<?xml encoding="UTF-8"?>

        <!ELEMENT dataset (APP_USER+, PASSWORD_RECOVERY_TOKEN+, STUFF)>
        <!ELEMENT PASSWORD_RECOVERY_TOKEN EMPTY>
        <!ATTLIST PASSWORD_RECOVERY_TOKEN
                TOKEN CDATA #IMPLIED
                USER_ID CDATA #IMPLIED>

        <!ELEMENT APP_USER EMPTY>
        <!ATTLIST APP_USER
                ID CDATA #IMPLIED
                USERNAME CDATA #IMPLIED
                EMAIL CDATA #IMPLIED
                PSWD CDATA #IMPLIED>

        <!ELEMENT STUFF EMPTY>