stuff-persistence/src/test/resources/datasets/password_recovery/reset_password.dtd

<?xml encoding="UTF-8"?>

        <!ELEMENT dataset (APP_USER+, RESET_PASSWORD+, STUFF)>
        <!ELEMENT RESET_PASSWORD EMPTY>
        <!ATTLIST RESET_PASSWORD
                ID CDATA #IMPLIED
                USER_ID CDATA #IMPLIED>

        <!ELEMENT APP_USER EMPTY>
        <!ATTLIST APP_USER
                ID CDATA #IMPLIED
                USERNAME CDATA #IMPLIED
                EMAIL CDATA #IMPLIED
                PSWD CDATA #IMPLIED>

        <!ELEMENT STUFF EMPTY>